.theme {
    background: #222222;
    box-shadow: 0 0 10px rgba(255,255,255,0.1);
}

.header-nav-container {
        color: #FFFFFF;
        background-color: #000000;
    }
    

.header-nav-part-item:hover {
    color: #14B9D5;
}


    .search {
        background-color: #000000;
    }
 
        
    
    .header-introduction {
        color: #FFFFFF;
    }
    
 
    
    
    .btn-green {
        background: #209734;
    }
    
    .btn-blue {
        background: #0c74b9;
    }
    
    .most-popular-posts {
        background: #353434;
    }

    .most-popular-posts-container {
        background-color: #353434;
    }

    .most-popular-posts-title {
        color: #F9F7F7;
       
    }
    .post-title {
        color: #F9F7F7;
    }
  
  
    
    .popular-clients-title {
        color: #F9F7F7;
        
    }
    
    .popular-clients-separator-line {
        background-color: #14B9D5;
        
    }

    .top-rated {
        background-color: #313131;
    }
    
    .top-rated-title {
        color: #FFFFFF;
        
    }
   
    .hot-news {
        background-color: #313131;
    }
    
    .hot-news-section-title {
        color: #FFFFFF;
    }

    
    .hot-news-post-link {
        background: #313131;
        color: #FFFFFF;
        
    }

    
    .hot-news-post-title {
        color: #FFFFFF;
        
    }
 
    
  
    .footer {
        background: #000000;
    }
    

  