
.theme {
    background: #ffffff;
    box-shadow: 0 0 10px rgba(39,38,40,0.4);
}

.header-nav-container {
        color: #FFFFFF;
        background-color: rgb(207, 207, 207);
    }
    

.header-nav-part-item:hover {
    color: #14B9D5;
}


    .search {
        background-color: rgb(207, 207, 207);
    }
 
        
    
    .header-introduction {
        color: #FFFFFF;
    }
    
 
    
    
    .btn-green {
        background: #89CA62;
    }
    
    .btn-blue {
        background: #14B9D5;
    }
    
    .most-popular-posts {
        background: #F2F2F2;
    }
        
    .most-popular-posts-title {
        color: #18B4CF;
       
    }
  
  
    
    .popular-clients-title {
        color: #FFFFFF;
        
    }
    
    .popular-clients-separator-line {
        background-color: #14B9D5;
        
    }
    
    
    .top-rated-title {
        color: #14B9D5;
        
    }
   
    
    .hot-news-section-title {
        color: #18B4CF;
    }

    
    .hot-news-post-link {
        background: #F9F7F7;
        
    }

    
    .hot-news-post-title {
        color: #353A3D;
        
    }
 
    
  
    .footer {
        background: rgb(207, 207, 207);
    }
    

  